{% assign sidebar = site.data.sidebar.contact %}
<div class="sidebar-wrapper">
  <div class="profile-container">
    <img class="avatar" src="{{site.baseurl}}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    <h1 class="name">{{ sidebar.name }}</h1>

    {% if sidebar.summary %}
    <h3 class="tagline">{{sidebar.summary}}</h3>
    {% endif %}

    {% if sidebar.orcid %}
    <h3 class="tagline">ORCID: <a href="https://orcid.org/{{ sidebar.orcid }}">{{sidebar.orcid}}</a></h3>
    {% endif %}
  <hr />
  </div><!--//profile-container-->

  {% include contact.html %}

  {% assign education = site.data.sidebar.education %}
  {% if education %}
    <div class="education-container container-block">

      <h2 class="container-block-title">
        Education
      </h2>

      {% for graduation in education %}
      <div class="item">
        <h4 class="degree">{{ graduation.degree }}</h4>
        <div class="details">
          <h5 class="meta">{{ graduation.university }}</h5>
          <div class="time">{{ graduation.time }}</div>
        </div>
      </div><!--//item-->
      {% endfor %}
  <hr />
    </div><!--//education-container-->

  {% endif %}

  {% if site.display.skills %}
    {% include skills.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
