/* NCSU variables */
$theme-color: #990000;
$text-color: #3F4650;
$text-color-secondary: #545E6C;
$text-grey: #333333;
$divider: #333333;
$lighter-grey: #666666;
$darker-grey: #333333;
$smoky-white: #ececec;
